<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<!-- <head>태그 내 공통된 stylesheets 분리 -->
    <head th:replace="~{/stylesheets/head :: head (title='카테고리 수정')}"></head>
    
   	<!-- css 파일 적용 -->
	<link href="css/admin/admin.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
    
  <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar start -->
        <div class="container-fluid fixed-top">
            <div class="container topbar bg-primary d-none d-lg-block">
                <div class="d-flex justify-content-between">
                    <div class="top-info ps-2">
                      <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">서울시 중랑구 여월동 56-1</a></small>
                      <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Momo@momoclub.com</a></small>
                    </div>
                    <div class="top-link pe-2">
                        <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                        <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
                        <a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
                    </div>
                </div>
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="/index.html" class="navbar-brand"><img src="img/momo-logo2.png" style="width: 130px; height: 70px;"></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="/adminUser.page" class="nav-item nav-link">사용자 관리</a>
                            <a href="/adminReport.page" class="nav-item nav-link">신고관리</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">모임&카테고리 관리</a>
                                <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                    <a href="/adminMeet.page" class="dropdown-item">모임 목록 조회</a>
                                    <a href="/adminCategory.page" class="dropdown-item active">카테고리&태그 수정</a>
                                </div>
                            </div>
                            <a href="/adminAsk.page" class="nav-item nav-link">문의 관리</a>
                        </div>
                        <div class="d-flex m-3 me-0">
                            <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                            <a href="#" class="position-relative me-4 my-auto">
                                <i class="fa fa-bell fa-2x"></i>
                                <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                            </a>
                            <a href="#" class="my-auto">
                                <i class="fas fa-user fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->


        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->

        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">관리자 페이지</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#" style="color: white;">홈</a></li>
                <li class="breadcrumb-item"><a href="#" style="color: white;">Pages</a></li>
                <li class="breadcrumb-item active text-white">로그인</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- Checkout Page Start -->
        <div class="container-fluid py-5">
            <div class="container-fluid py-5 px-5">
                <h1 class="mb-3">카테고리 & 태그 관리</h1>
                <form action="#">
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-3 col-xl-3">
                          <button type="button" class="btn border-secondary py-1 text-primary mb-3 btn-addCate">추가</button>
                          <button type="button" class="btn border-secondary py-1 text-primary mb-3 btn-modify btn-modifyCate">수정</button>
						  <h4 class="mb-3">카테고리 목록</h4>
							<!-- 카테고리 -->
							<div class="mb-3 bg-light py-3 rounded">
							  <ul id="category-list"></ul>
							</div>
                        </div>
                        
                        <!-- 카테고리 추가 부분 -->
                        <div class="col-md-12 col-lg-3 col-xl-3 add-category-sec" style="display:none">
                          <h4 class="mb-3">카테고리 추가</h4>
                          <label class="form-label my-3">1. 추가할 카테고리의 분류를 선택하세요.</label>
						  <select id="selectCategory" name="categorylist" class="border-0 form-select-sm pe-5" form="categoryform" style="margin-right: 0.5rem;font-size: 1.2rem;outline: none;">
                            <option value="majorCate">대분류</option>
                            <option value="middleCate">중분류</option>
                            <option value="smallCate">소분류</option>
                          </select>
                          
                          <!-- 대분류 선택 시 -->
	                      <div class="form-item majorCate" style="display:none;">
                            <label class="form-label my-3">2. 추가 카테고리명 입력</label>
                            <input type="text" class="form-control" value="ex) 예술&문화">
                          </div>
                          
                          <!-- 중분류 선택 시 -->
                          <div class="form-item middleCate" style="display:none;">
                            <label class="form-label my-3">2. 상위 카테고리 선택(대분류)</label>
                            <select id="selectMajorCategory1" name="categorylist" class="border-0 form-select-sm pe-5" form="categoryform" style="margin-right: 0.5rem;font-size: 1.2rem;outline: none;">
                              <option value="book">독서</option>
                              <option value="sport">스포츠&레저</option>
                              <option value="art">예술&문화</option>
                              <option value="cook">요리&음료</option>
                              <option value="game">취미&오락</option>
                          	</select>
                          	<label class="form-label my-3">3. 추가 카테고리명 입력</label>
                            <input type="text" class="form-control" value="ex) 영화">
                          </div>
                          
                          <!-- 소분류 선택 시 -->
                          <div class="form-item smallCate" style="display:none;">
                            <label class="form-label my-3">2. 상위 카테고리 선택(대분류)</label>
                            <select id="selectMajorCategory2" name="categorylist" class="border-0 form-select-sm pe-5" form="categoryform" style="margin-right: 0.5rem;font-size: 1.2rem;outline: none;">
                              <option value="book">독서</option>
                              <option value="sport">스포츠&레저</option>
                              <option value="art">예술&문화</option>
                              <option value="cook">요리&음료</option>
                              <option value="game">취미&오락</option>
                          	</select>
                          	
                          	<!-- 대분류에 따라서 달라짐.. -->
                          	<label class="form-label my-3">3. 상위 카테고리 선택(중분류)</label>
                            <select id="selectMiddleCategory" name="categorylist" class="border-0 form-select-sm pe-5" form="categoryform" style="margin-right: 0.5rem;font-size: 1.2rem;outline: none;">
                              <option value="volvo">소설</option>
                              <option value="saab">비소설</option>
                          	</select>   
                          	<label class="form-label my-3">4. 추가 카테고리명 입력</label>                       	
                            <input type="text" class="form-control" value="ex) 공포">
                          </div>
                          <div class="form-item">
                      	    <button type="button" class="btn border-secondary px-4 text-primary mt-2 btn-dismiss">취소</button>
                            <button type="button" class="btn border-secondary px-4 text-primary mt-2 btn-modify">확인</button>
                          </div>                            
                        </div>

                        
                        
                        
                        
                        <!-- 카테고리 수정 부분 -->
                        <div class="col-md-12 col-lg-3 col-xl-3 modify-category-sec" style="display:none">
                          <h4 class="mb-3">카테고리 수정</h4>
                          <label class="form-label my-3">1. 수정할 카테고리를 선택하세요.</label>
                          
                          <!-- 대분류 선택 시 -->
	                      <div class="form-item majorCate-modify">
                            <label class="form-label my-3">2. 수정할 카테고리명 입력</label>
                            <input type="text" class="form-control" value="ex) 예술&문화">
                          </div>
                          
                          <!-- 중분류 선택 시 -->
                          <div class="form-item middleCate-modify" style="display:none;">
                            <label class="form-label my-3">2. 상위 카테고리(대분류)</label>
                            <select id="selectMajorCategory3" name="categorylist" class="border-0 form-select-sm pe-5" form="categoryform" style="margin-right: 0.5rem;font-size: 1.2rem;outline: none;">
                              <option value="book">독서</option>
                              <option value="sport">스포츠&레저</option>
                              <option value="art">예술&문화</option>
                              <option value="cook">요리&음료</option>
                              <option value="game">취미&오락</option>
                          	</select>
                          	<label class="form-label my-3">3. 수정할 카테고리명 입력</label>
                            <input type="text" class="form-control" value="ex) 영화">
                          </div>
                          
                          <!-- 소분류 선택 시 -->
                          <div class="form-item smallCate-modify" style="display:none;">
                            <label class="form-label my-3">2. 상위 카테고리(대분류)</label>
                            <select id="selectMajorCategory4" name="categorylist" class="border-0 form-select-sm pe-5" form="categoryform" style="margin-right: 0.5rem;font-size: 1.2rem;outline: none;">
                              <option value="book">독서</option>
                              <option value="sport">스포츠&레저</option>
                              <option value="art">예술&문화</option>
                              <option value="cook">요리&음료</option>
                              <option value="game">취미&오락</option>
                          	</select>
                          	
                          	<!-- 대분류에 따라서 달라짐.. -->
                          	<label class="form-label my-3">3. 상위 카테고리(중분류)</label>
                            <select id="selectMiddleCategory2" name="categorylist" class="border-0 form-select-sm pe-5" form="categoryform" style="margin-right: 0.5rem;font-size: 1.2rem;outline: none;">
                              <option value="volvo">소설</option>
                              <option value="saab">비소설</option>
                          	</select>   
                          	<label class="form-label my-3">4. 수정할 카테고리명 입력</label>                       	
                            <input type="text" class="form-control" value="ex) 공포">
                          </div>
                          <div class="form-item">
                      	    <button type="button" class="btn border-secondary px-4 text-primary mt-2 btn-dismiss">취소</button>
                            <button type="button" class="btn border-secondary px-4 text-primary mt-2 btn-modify">확인</button>
                          </div>                           
                        </div>



						<!-- 태그 목록 -->
                        <div class="col-md-12 col-lg-3 col-xl-3">
                          <button type="button" class="btn border-secondary py-1 text-primary mb-3 btn-addTag">추가</button>
                          <button type="button" class="btn border-secondary py-1 text-primary mb-3 btn-modify btn-inactive">삭제</button> 
                       	  <h4 class="mb-3">태그 목록</h4>
                       	  <!-- <button type="button" class="btn border-secondary px-4 mt-2 btn-inactive">삭제</button> -->
						  <div class="mb-3 bg-light py-3 rounded">
						    <div class="table-responsive">
						      <table class="table tag-table">
						        <thead>
						          <tr>
						            <th scope="col">선택</th>
						            <th scope="col">태그명</th>
						            <th scope="col"></th>
						          </tr>
						        </thead>
						        <tbody>
						          <tr>
						            <td><input type="checkbox" class="form-check-input" id="Account-1" name="Accounts" value="Accounts"></td>
						            <td>#가벼운운동</td>
						            <td class="modify-tag"><i class="far fa-edit"></i></td>
						          </tr>
						          <tr>
						            <td><input type="checkbox" class="form-check-input" id="Account-2" name="Accounts" value="Accounts"></td>
						            <td>#밥은따로먹어요</td>
						            <td class="modify-tag"><i class="far fa-edit"></i></td>
						          </tr>
						          <tr>
						            <td><input type="checkbox" class="form-check-input" id="Account-3" name="Accounts" value="Accounts"></td>
						            <td>#개인연락하지않아요</td>
						            <td class="modify-tag"><i class="far fa-edit"></i></td>
						          </tr>
						          <tr>
						            <td><input type="checkbox" class="form-check-input" id="Account-4" name="Accounts" value="Accounts"></td>
						            <td>#귀가는 각자</td>
						            <td class="modify-tag"><i class="far fa-edit"></i></td>
						          </tr>
						          <tr>
						            <td><input type="checkbox" class="form-check-input" id="Account-5" name="Accounts" value="Accounts"></td>
						            <td>#간식 좋아요</td>
						            <td class="modify-tag"><i class="far fa-edit"></i></td>
						          </tr>
						          <tr>
						            <td><input type="checkbox" class="form-check-input" id="Account-6" name="Accounts" value="Accounts"></td>
						            <td>#음식 강요 싫어요</td>
						            <td class="modify-tag"><i class="far fa-edit"></i></td>
						          </tr>
						          <tr>
						            <td><input type="checkbox" class="form-check-input" id="Account-7" name="Accounts" value="Accounts"></td>
						            <td>#평일에만 만나요</td>
						            <td class="modify-tag"><i class="far fa-edit"></i></td>
						          </tr>
						          <tr>
						            <td><input type="checkbox" class="form-check-input" id="Account-8" name="Accounts" value="Accounts"></td>
						            <td>#휴대폰만할거면가세요</td>
						            <td class="modify-tag"><i class="far fa-edit"></i></td>
						          </tr>
						          <tr>
						            <td><input type="checkbox" class="form-check-input" id="Account-9" name="Accounts" value="Accounts"></td>
						            <td>#오픈마인드</td>
						            <td class="modify-tag"><i class="far fa-edit"></i></td>
						          </tr>
						          <tr>
						            <td><input type="checkbox" class="form-check-input" id="Account-10" name="Accounts" value="Accounts"></td>
						            <td>#온라인참여가능</td>
						            <td class="modify-tag"><i class="far fa-edit"></i></td>
						          </tr>
						        </tbody>
						      </table>
						    </div>
						
						
						  </div>
                        </div>
                        
                        <!-- 태그 추가 란 -->
                        <div class="col-md-12 col-lg-3 col-xl-3 add-tag-sec" style="display: none;">
                        	<h4>태그 추가</h4>
                            <div class="form-item">
                                <label class="form-label my-3">추가 태그명 입력</label>
                                <input type="text" class="form-control" value="ex) #술못마셔도오케이">
                            </div>
	                        <div class="form-item">
	                        	<button type="button" class="btn border-secondary px-4 text-primary mt-2 btn-dismiss">취소</button>
	                            <button type="button" class="btn border-secondary px-4 text-primary mt-2 btn-modify">확인</button>
	                        </div>                                
                        </div>
                        
                        <!-- 태그 수정 란 -->
                        <div class="col-md-12 col-lg-3 col-xl-3 modify-tag-sec" style="display:none;">
                        	<h4>태그 수정</h4>
                            <div class="form-item">
                                <label class="form-label my-3">수정할 태그명 입력</label>
                                <input id="modifyTagInput" type="text" class="form-control" value="ex) #술못마셔도오케이">
                            </div>
	                        <div class="form-item">
	                        	<button type="button" class="btn border-secondary px-4 text-primary mt-2 btn-dismiss">취소</button>
	                            <button type="button" class="btn border-secondary px-4 text-primary mt-2 btn-modify">확인</button>
	                        </div>                             
                        </div>
                       






                       
                    </div>
                </form>
            </div>
        </div>
        <!-- Checkout Page End -->

		<!-- footer 분리 -->
		<footer th:replace="~{/layout/footer::footer}"></footer>

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        <!-- 공통된 javascript 파일 분리 -->
		<div th:replace="~{/scripts/scripts::scripts}"></div>

		<!-- 240731 : js 파일 분리 -->
		<script src="js/adminCategory.js"></script>

		

</body>



</html>