	<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
  <!-- <head>태그 내 공통된 stylesheets 분리 -->
  <head th:replace="stylesheets/head :: head"></head>
  <body>
  
  <style>
  #component-wrapper {
  display: flex;
  }
  
  
  #component {
    border: 1px dotted #000;
    width: 1200px;
    display: flex;
    
   }
   
  #thumbnail {
  width: 4cm;
  height: 5cm;
  background-color: grey;
  }
  
  button {
  width: 170px;
  height: 50px;
  margin-left: 850px;
  }
 
  
  </style>
  
  
  

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="bg-white">
        <div class="content">
           <div class="bg-white p-1 p-lg-2">
            <div class="container">
              <div class="d-flex justify-content-end align-items-center"><a class="ms-2 ms-md-3 submenu" href="#!"><span class="uil uil-bill"></span><span class="ms-1 fs-10 fs-sm-9">sale</span></a><a class="ms-2 ms-md-3 submenu" href="#!"><span class="uil uil-file-heart"></span><span class="ms-1 fs-10 fs-sm-9">wishlist</span></a><a class="ms-2 ms-md-3 submenu" href="#!"><span class="uil uil-shopping-cart"></span><span class="ms-1 fs-10 fs-sm-9">cart</span></a><a class="ms-2 ms-md-3 submenu" href="#!"><span class="uil uil-user-circle"></span><span class="ms-1 fs-10 fs-sm-9">log in/sign up</span></a>
              </div>
            </div>
          </div>
          
          <!-- 헤더 레이아웃 분리 -->
          <header th:replace="layout/header::header"></header>
          
          <div class="container" data-bs-target="#navbar-top" data-bs-spy="scroll" tabindex="0">
            <section class="mb-9 mb-lg-10 mb-xxl-11 text-center text-lg-start mt-9" id="home">
              <div>
              
           <!-- ------------------------------------------------------------------------------------------------- -->
            
           <h2>aaa님은 현재 n개의 모임을 운영하고 있어요!</h2>
           
           <div id="component-wrapper">
           
           <div id="component">
            <div id="thumbnail"></div>
            <div id="detail">
            <div><h4>모임명</h4></div>
            <div><h4>인원수</h4></div>
            <div><h4>카테고리</h4></div>
            <button class="btn btn-warning">대기중</button>
            </div>
            </div>
            
          
         
           </div>
           
           
           
           
           
           
           
           
           
           
           
           
           
           
           
           
           
           
           
           
           
           
           
           
           
        <!-- ------------------------------------------------------------------------------------------------- -->
              </div>
            </section>
          </div>
          <button class="btn scroll-to-top" data-scroll-top="data-scroll-top"><span class="uil uil-angle-up text-white"></span></button>
          
          <!-- footer 분리 -->
		  <footer th:replace="layout/footer::footer"></footer>
          
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- 공통된 javascript 파일 분리 -->
	<div th:replace="scripts/scripts::scripts"></div>

  </body>

</html>