<!DOCTYPE html>
<html lang="en"	  
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- <head>태그 내 공통된 stylesheets 분리 -->
    <head th:replace="~{stylesheets/head :: head (title='Momo, 새로운 즐거움의 시작')}"></head>

    <body>
    
    <style>
    
    #main-container {
      width:900px;
    }
    
    #tags {
      display:flex;
      margin: 10px;
    }
  
   ul {
     list-style: none;
     margin: 0;
     padding: 0;
    }

   li {
      margin: 5px;
      padding: 10px; 
      border: 0px; 
      border-radius: 10px;
      display: inline-block;
      background-color: lightgrey;
      color:white;
    }
    
    </style>

        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <!-- 헤더 레이아웃 분리 -->
        <header th:replace="~{layout/header::header}"></header>

        <!-- Modal Search Start -->
        <div class="modal fade" id="#applyMeetingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->
        <!-- Hero Start -->
        <div class="container-fluid py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-md-12 col-lg-7">
                        <h4 class="mb-3 text-secondary">모임을 보고 계시군요?</h4>
                        <h1 class="mb-5 display-3 text-primary">새로운 모임에 <br>가입하고 싶으신가요?</h1>
                        <div class="position-relative mx-auto">
                            <button class="btn-apply btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-160" data-bs-toggle="modal" data-bs-target="#applyMeetingModal" style="top: 0; right: 25%;">모임 참여 신청하기</button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active rounded">
                                    <img src="img/hero-img-1.png" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Fruites</a>
                                </div>
                                <div class="carousel-item rounded">
                                    <img src="img/hero-img-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Vesitables</a>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
  
        <div class="container">
        <div class="row g-4 main-container">
            <div class="col-lg-6 mx-5" style="width: 400px; height: 450px;">
                <div class="border" style="width: 400px; height: 450px;">
                    <a href="#">
                        <img src="img/single-item.jpg" class="img-fluid" alt="Image" style="width: 400px; height: 450px;">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <h4 class="fw-bold mb-3">브로콜리 먹는 모임</h4>
                <p class="mb-3">문화예술 > 체험 > 먹방</p>
                <div class="d-flex">
                    <img src="img/person.png" class="img-fluid" alt="Image" style="height: 24px;">                                                 
                    <h5 class="fw-bold mb-3 mx-2">78/80</h5>
                </div>
                <p class="mb-4">브로콜리를 삶고 굽고 튀겨서 먹는 모임입니다. 그 외 다양한 조리법 대환영</p>
                <p class="mb-4">모임장소 : 이수역</p>
                <p class="mb-4">모임비 : 5000원/회</p>
                <p class="mb-4">준비물 : 브로콜리, 용기, 젓가락</p>
            </div>
            <div class="col-lg-12">
                <nav>
                    <div class="nav nav-tabs mb-3">
                        <button class="nav-link active border-white border-bottom-0" type="button" role="tab" id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about" aria-controls="nav-about" aria-selected="true">모임 정보</button>
                        <button class="nav-link border-white border-bottom-0" type="button" role="tab" id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission" aria-controls="nav-mission" aria-selected="false">모임 소통</button>
                    </div>
                </nav>
                
                <div class="tab-content mb-5">
                    <!-- 정보 content 태그 시작 -->
                    <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                        <div id="tags">                     
                            <div class="testimonial-item img-border-radius bg-light rounded p-4 mx-3">
                            <div class="position-relative">
                                <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 40px; right: 0;"></i>
                                <div class="mb-4 pb-4 border-bottom border-secondary">
                                    <p class="mb-0">이런 사람이 좋아요!</p>
                                </div>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <ul>
          						                 <li><a>말없어요</a></li>
          						                 <li><a>INSP</a></li>
          						                 <li><a>귀가는 각자</a></li>
          						                 <li><a>커피 좋아요</a></li>
         							                 <li><a>술 안마셔요</a></li>
    						                   </ul>
                                </div>
                            </div>
                            </div>
                             
                            <div class="testimonial-item img-border-radius bg-light rounded p-4 mx-3">
                            <div class="position-relative">
                                <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 40px; right: 0;"></i>
                                <div class="mb-4 pb-4 border-bottom border-secondary">
                                    <p class="mb-0">우리 모임은 이래요!</p>
                                </div>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <ul>
      							                    <li>말없어요</a></li>
      							                    <li>INSP</a></li>
      							                    <li>귀가는 각자</a></li>
      							                    <li>커피 좋아요</a></li>
      							                    <li>술 안마셔요</a></li>
      							                </ul>
                                </div>
                            </div>
                            </div>
                        </div> 
                        <!-- 태그 끝 -->
                    </div>
                    <!-- 이야기 content 태그 시작 -->
                    <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                        <div class="d-flex">
                            <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                            <div class="">
                                <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                <div class="d-flex justify-content-between">
                                    <h5>브로콜리 조아</h5>
                                </div>
                                <p> 이번 주말 저녁에 "당분간 파프리카는 어떤가"에 대해서 논의합니다. 채팅방에서! </p>
                            </div>
                        </div>
                        <div id="comment" class="d-flex">
                            <img src="img/reply.png" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                            <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                            <div class="">
                                <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                <div class="d-flex justify-content-between">
                                     <h5>브로콜리 조아</h5>
                                </div>
                                <p> 오후 8시 입니다! </p>
                            </div>
                        </div>
                        <div id="comment" class="d-flex">
                            <img src="img/reply.png" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                            <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                            <div class="">
                                <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                <div class="d-flex justify-content-between">
                                    <h5>파프리카 조아</h5>
                                </div>
                                <p> 좋아요! </p>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                            <div class="">
                                <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                <div class="d-flex justify-content-between">
                                    <h5>보더코리</h5>
                                </div>
                                <p class="text-dark"> 요새 브로콜리 가격이 너무 올랐던데 당분간 파프리카로 할까요? </p>
                            </div>
                        </div>
                    </div>
                    <!-- 태그 끝 -->
                </div>
            </div>
        </div>
    </div>
       
		<!-- footer 분리 -->
		<footer th:replace="~{layout/footer::footer}"></footer>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>
        
    <!-- 공통된 javascript 파일 분리 -->
		<div th:replace="~{scripts/scripts::scripts}"></div>
    
    </body>

</html>