<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <!-- 240716 공통된 javascript 파일 분리 -->
  <!-- <div th:replace="scripts/scripts::scripts"></div> -->
  
  <th:block th:fragment="scripts">

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/bootstrap/vendors/popper/popper.min.js"></script>
    <script src="/bootstrap/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/bootstrap/vendors/is/is.min.js"></script>
    <script src="/bootstrap/vendors/countup/countUp.umd.js"></script>
    <script src="/bootstrap/vendors/swiper/swiper-bundle.min.js"></script>
    <script src="/bootstrap/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/bootstrap/vendors/list.js/list.min.js"></script>
    <script src="/bootstrap/assets/js/theme.js"></script>
  </th:block>
</html>
