
/* 모임 아이템 - 태그 */
#personal-tag {
  margin-bottom: 0;
}

/* 모임 아이템 - 폼 안에 태그 */
#personal-tag li {
  margin: 5px;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  border: 0px;
  border-radius: 10px;
  display: inline-block;
  background-color: yellowgreen;
  color: white;
  cursor: pointer;
}

/* 모임 아이템 - 태그 폼 */
.tag-form {
  border: none;
  padding: .375rem .75rem .375rem 0;
}

/* 카테고리 */
ul, li {
  list-style: none;
}



  
  